In [ ]:
"""
год брать из даты
дата в новости должна быть больше сегодняшней. 
если дата новости 22год декабрь, а в новости дата январь 5, то нужно проверить месяц в новости если меньше то год + 1
формат даты в основном  Thursday, December 22  February 6

искать совпадения во всем тексте новости по:
effective prior to the opening of trading on
prior to the open on
post close on /// не надо наверн
"""

In [71]:
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.firefox.options import Options as FirefoxOptions

# from config import urls


options = FirefoxOptions()
driver = webdriver.Firefox(options=options)
driver.set_window_size(1500, 1200)
driver.get('https://www.briefing.com')


class BriefingParser:
    def __init__(self, url_string):
        self.target_url = 'https://www.briefing.com/InPlayEq/InPlay/InPlay.htm'
        self.driver = driver
        self.html_text, self.soup = '', ''
        self.get_html_text()
        self.target_url = url_string
        self.get_html_text()
        self.get_soup()

    def set_new_url(self, new_url):
        self.target_url = new_url
        self.get_html_text()
        self.get_soup()

    def get_html_text(self):
        self.driver.get(self.target_url)
        time.sleep(5)
        self.html_text = self.driver.execute_script("return document.getElementsByTagName('html')[0].innerHTML")

    def get_soup(self):
        self.soup = BeautifulSoup(self.html_text, "html.parser")

In [ ]:
def main():
    parser = BriefingParser('https://www.briefing.com/InPlayEq/Search/Ticker.htm?ticker=INDXCH')


main()

In [11]:
import datetime
now = datetime.datetime.now().replace(hour=0, minute=0, second=0, microsecond=0)
today = now.strftime("%Y-%m-%d") 
today = datetime.datetime.strptime(today, "%Y-%m-%d")
print(now, today)

2023-03-23 00:00:00 2023-03-23 00:00:00

In [22]:
now = datetime.datetime.now() # datetime
today = now.strftime("%Y-%m-%d")
today = datetime.datetime.strptime(today, "%Y-%m-%d") 
today.month

3

In [18]:
'asd  asd2 '.split(' ')

['asd', '', 'asd2', '']

In [20]:
for i in range(5,1,-1):
    print(i)

5
4
3
2

In [21]:
now = datetime.datetime.now() # datetime
today = now.strftime("%Y-%m-%d") 
today = datetime.datetime.strptime(today, "%Y-%m-%d") 
week_now = now.strftime("%A")
year_now = now.strftime("%Y")
year_now

'2023'

In [24]:
datetime.datetime.strptime('2023-12-01', "%Y-%m-%d").month

12

In [12]:
import yfinance as yf

In [13]:
today_data = yf.Ticker('AAPL').history(period='max', interval='1m', prepost=True).reset_index()

In [26]:
import pandas as pd
premarket_start_dt = datetime.datetime.now().replace(hour=4, minute=0, second=0, microsecond=0)
today_data[today_data.Datetime >= pd.Timestamp(premarket_start_dt, tz='America/New_York')].Volume.sum()

37575742

In [69]:
now = datetime.datetime.now()
now_date = now.date()
now_time = datetime.time(hour=4, minute=0, second=0, microsecond=0)
now_dt = datetime.datetime.combine(now_date, now_time)
pd.Timestamp(now_dt, tz='America/New_York')

Timestamp('2023-03-24 04:00:00-0400', tz='America/New_York')

In [70]:
pd.Timestamp(datetime.datetime.now().replace(hour=4, minute=0, second=0, microsecond=0), tz='America/New_York')

Timestamp('2023-03-24 04:00:00-0400', tz='America/New_York')

In [48]:
a = '35214859'
if len(a) < 7:
    print(f'{round(int(a) / 1000, 2)}k')
elif len(a) >=7:
    print(f'{round(int(a) / 1000000, 2)}M')

35.21M

In [49]:
data = {'GapUp': {'CSIQ': '+15.9% (1M)', 'ONON': '+25.2% (100.0K)'}, 'GapDown': {'HUYA': '-15.1% (100.0K)', 'TME': '-9.1% (100.0K)'}}

In [63]:
data = {
        'GapUp': {},
        'GapDown': {} 
    }

In [64]:
dict(sorted(data['GapUp'].items(), key=lambda x: x[1].split('%')[0], reverse=True))

{}

In [65]:
dict(sorted(data['GapDown'].items(), key=lambda x: x[1].split('%')[0]))

{}

In [68]:
round(1023 / 1000, 2)

1.02

In [72]:
import yfinance as yf
import datetime

In [73]:
today_data = yf.Ticker('CCL').history(period='max', interval='1m', prepost=True).reset_index()

In [85]:
premarket_start_dt = datetime.datetime.now().replace(hour=9, minute=0, second=0, microsecond=0)
today_data[today_data.Datetime >= pd.Timestamp(premarket_start_dt, tz='America/New_York')]

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits
4071,2023-03-27 09:00:00-04:00,9.3800,9.3900,9.3700,9.3700,0,0.0,0.0
4072,2023-03-27 09:01:00-04:00,9.3700,9.4000,9.3700,9.3900,0,0.0,0.0
4073,2023-03-27 09:02:00-04:00,9.3900,9.4000,9.3802,9.3900,0,0.0,0.0
4074,2023-03-27 09:03:00-04:00,9.4000,9.4000,9.3800,9.3900,0,0.0,0.0
4075,2023-03-27 09:04:00-04:00,9.3900,9.3950,9.3900,9.3950,0,0.0,0.0
...,...,...,...,...,...,...,...,...
4166,2023-03-27 10:50:00-04:00,9.1500,9.1600,9.1400,9.1550,46793,0.0,0.0
4167,2023-03-27 10:51:00-04:00,9.1500,9.1550,9.1300,9.1550,173525,0.0,0.0
4168,2023-03-27 10:52:00-04:00,9.1518,9.1656,9.1399,9.1399,88564,0.0,0.0
4169,2023-03-27 10:53:00-04:00,9.1300,9.1488,9.1200,9.1487,89287,0.0,0.0
4170,2023-03-27 10:54:00-04:00,9.1450,9.1450,9.1450,9.1450,0,0.0,0.0

In [90]:
{'a': 2, 'w': 123, 's': 'asdasd'} == {'a': 2, 's': 'asdasd', 'w': 123}

True

In [97]:
(datetime.datetime.now()-datetime.timedelta(hours=5)).strftime('%H')

'07'

In [101]:
data = [{'a': 1, 'w': '2', 's': 'asd'}, {'a': 2, 'w': 123, 's': 'asdasd'}, {'a': 2, 'w': 123, 's': 'asdasd'}]

In [104]:
a1 = pd.DataFrame(data)
a1

   a    w       s
0  1    2     asd
1  2  123  asdasd
2  2  123  asdasd

In [103]:
a2 = pd.DataFrame(data)
a2

   a    w       s
0  1    2     asd
1  2  123  asdasd
2  2  123  asdasd

In [107]:
w = pd.merge(a1, a2)
w.drop_duplicates()

   a    w       s
0  1    2     asd
1  2  123  asdasd

In [109]:
from pandas.tseries.holiday import USFederalHolidayCalendar
holidays = USFederalHolidayCalendar().holidays().strftime('%Y-%m-%d').to_list()
holidays

['1970-01-01',
 '1970-02-16',
 '1970-05-25',
 '1970-07-03',
 '1970-09-07',
 '1970-10-12',
 '1970-11-11',
 '1970-11-26',
 '1970-12-25',
 '1971-01-01',
 '1971-02-15',
 '1971-05-31',
 '1971-07-05',
 '1971-09-06',
 '1971-10-11',
 '1971-11-11',
 '1971-11-25',
 '1971-12-24',
 '1971-12-31',
 '1972-02-21',
 '1972-05-29',
 '1972-07-04',
 '1972-09-04',
 '1972-10-09',
 '1972-11-10',
 '1972-11-23',
 '1972-12-25',
 '1973-01-01',
 '1973-02-19',
 '1973-05-28',
 '1973-07-04',
 '1973-09-03',
 '1973-10-08',
 '1973-11-12',
 '1973-11-22',
 '1973-12-25',
 '1974-01-01',
 '1974-02-18',
 '1974-05-27',
 '1974-07-04',
 '1974-09-02',
 '1974-10-14',
 '1974-11-11',
 '1974-11-28',
 '1974-12-25',
 '1975-01-01',
 '1975-02-17',
 '1975-05-26',
 '1975-07-04',
 '1975-09-01',
 '1975-10-13',
 '1975-11-11',
 '1975-11-27',
 '1975-12-25',
 '1976-01-01',
 '1976-02-16',
 '1976-05-31',
 '1976-07-05',
 '1976-09-06',
 '1976-10-11',
 '1976-11-11',
 '1976-11-25',
 '1976-12-24',
 '1976-12-31',
 '1977-02-21',
 '1977-05-30',
 '1977-07-04',
 '1977-09-05',
 '1977-10-10',
 '1977-11-11',
 '1977-11-24',
 '1977-12-26',
 '1978-01-02',
 '1978-02-20',
 '1978-05-29',
 '1978-07-04',
 '1978-09-04',
 '1978-10-09',
 '1978-11-10',
 '1978-11-23',
 '1978-12-25',
 '1979-01-01',
 '1979-02-19',
 '1979-05-28',
 '1979-07-04',
 '1979-09-03',
 '1979-10-08',
 '1979-11-12',
 '1979-11-22',
 '1979-12-25',
 '1980-01-01',
 '1980-02-18',
 '1980-05-26',
 '1980-07-04',
 '1980-09-01',
 '1980-10-13',
 '1980-11-11',
 '1980-11-27',
 '1980-12-25',
 '1981-01-01',
 '1981-02-16',
 '1981-05-25',
 '1981-07-03',
 '1981-09-07',
 '1981-10-12',
 '1981-11-11',
 '1981-11-26',
 '1981-12-25',
 '1982-01-01',
 '1982-02-15',
 '1982-05-31',
 '1982-07-05',
 '1982-09-06',
 '1982-10-11',
 '1982-11-11',
 '1982-11-25',
 '1982-12-24',
 '1982-12-31',
 '1983-02-21',
 '1983-05-30',
 '1983-07-04',
 '1983-09-05',
 '1983-10-10',
 '1983-11-11',
 '1983-11-24',
 '1983-12-26',
 '1984-01-02',
 '1984-02-20',
 '1984-05-28',
 '1984-07-04',
 '1984-09-03',
 '1984-10-08',
 '1984-11-12',
 '1984-11-22',
 '1984-12-25',
 '1985-01-01',
 '1985-02-18',
 '1985-05-27',
 '1985-07-04',
 '1985-09-02',
 '1985-10-14',
 '1985-11-11',
 '1985-11-28',
 '1985-12-25',
 '1986-01-01',
 '1986-01-20',
 '1986-02-17',
 '1986-05-26',
 '1986-07-04',
 '1986-09-01',
 '1986-10-13',
 '1986-11-11',
 '1986-11-27',
 '1986-12-25',
 '1987-01-01',
 '1987-01-19',
 '1987-02-16',
 '1987-05-25',
 '1987-07-03',
 '1987-09-07',
 '1987-10-12',
 '1987-11-11',
 '1987-11-26',
 '1987-12-25',
 '1988-01-01',
 '1988-01-18',
 '1988-02-15',
 '1988-05-30',
 '1988-07-04',
 '1988-09-05',
 '1988-10-10',
 '1988-11-11',
 '1988-11-24',
 '1988-12-26',
 '1989-01-02',
 '1989-01-16',
 '1989-02-20',
 '1989-05-29',
 '1989-07-04',
 '1989-09-04',
 '1989-10-09',
 '1989-11-10',
 '1989-11-23',
 '1989-12-25',
 '1990-01-01',
 '1990-01-15',
 '1990-02-19',
 '1990-05-28',
 '1990-07-04',
 '1990-09-03',
 '1990-10-08',
 '1990-11-12',
 '1990-11-22',
 '1990-12-25',
 '1991-01-01',
 '1991-01-21',
 '1991-02-18',
 '1991-05-27',
 '1991-07-04',
 '1991-09-02',
 '1991-10-14',
 '1991-11-11',
 '1991-11-28',
 '1991-12-25',
 '1992-01-01',
 '1992-01-20',
 '1992-02-17',
 '1992-05-25',
 '1992-07-03',
 '1992-09-07',
 '1992-10-12',
 '1992-11-11',
 '1992-11-26',
 '1992-12-25',
 '1993-01-01',
 '1993-01-18',
 '1993-02-15',
 '1993-05-31',
 '1993-07-05',
 '1993-09-06',
 '1993-10-11',
 '1993-11-11',
 '1993-11-25',
 '1993-12-24',
 '1993-12-31',
 '1994-01-17',
 '1994-02-21',
 '1994-05-30',
 '1994-07-04',
 '1994-09-05',
 '1994-10-10',
 '1994-11-11',
 '1994-11-24',
 '1994-12-26',
 '1995-01-02',
 '1995-01-16',
 '1995-02-20',
 '1995-05-29',
 '1995-07-04',
 '1995-09-04',
 '1995-10-09',
 '1995-11-10',
 '1995-11-23',
 '1995-12-25',
 '1996-01-01',
 '1996-01-15',
 '1996-02-19',
 '1996-05-27',
 '1996-07-04',
 '1996-09-02',
 '1996-10-14',
 '1996-11-11',
 '1996-11-28',
 '1996-12-25',
 '1997-01-01',
 '1997-01-20',
 '1997-02-17',
 '1997-05-26',
 '1997-07-04',
 '1997-09-01',
 '1997-10-13',
 '1997-11-11',
 '1997-11-27',
 '1997-12-25',
 '1998-01-01',
 '1998-01-19',
 '1998-02-16',
 '1998-05-25',
 '1998-07-03',
 '1998-09-07',
 '1998-10-12',
 '1998-11-11',
 '1998-11-26',
 '1998-12-25',
 '1999-01-01',
 '1999-01-18',
 '1999-02-15',
 '1999-05-31',
 '1999-07-05',
 '1999-09-06',
 '1999-10-11',
 '1999-11-11',
 '1999-11-25',
 '1999-12-24',
 '1999-12-31',
 '2000-01-17',
 '2000-02-21',
 '2000-05-29',
 '2000-07-04',
 '2000-09-04',
 '2000-10-09',
 '2000-11-10',
 '2000-11-23',
 '2000-12-25',
 '2001-01-01',
 '2001-01-15',
 '2001-02-19',
 '2001-05-28',
 '2001-07-04',
 '2001-09-03',
 '2001-10-08',
 '2001-11-12',
 '2001-11-22',
 '2001-12-25',
 '2002-01-01',
 '2002-01-21',
 '2002-02-18',
 '2002-05-27',
 '2002-07-04',
 '2002-09-02',
 '2002-10-14',
 '2002-11-11',
 '2002-11-28',
 '2002-12-25',
 '2003-01-01',
 '2003-01-20',
 '2003-02-17',
 '2003-05-26',
 '2003-07-04',
 '2003-09-01',
 '2003-10-13',
 '2003-11-11',
 '2003-11-27',
 '2003-12-25',
 '2004-01-01',
 '2004-01-19',
 '2004-02-16',
 '2004-05-31',
 '2004-07-05',
 '2004-09-06',
 '2004-10-11',
 '2004-11-11',
 '2004-11-25',
 '2004-12-24',
 '2004-12-31',
 '2005-01-17',
 '2005-02-21',
 '2005-05-30',
 '2005-07-04',
 '2005-09-05',
 '2005-10-10',
 '2005-11-11',
 '2005-11-24',
 '2005-12-26',
 '2006-01-02',
 '2006-01-16',
 '2006-02-20',
 '2006-05-29',
 '2006-07-04',
 '2006-09-04',
 '2006-10-09',
 '2006-11-10',
 '2006-11-23',
 '2006-12-25',
 '2007-01-01',
 '2007-01-15',
 '2007-02-19',
 '2007-05-28',
 '2007-07-04',
 '2007-09-03',
 '2007-10-08',
 '2007-11-12',
 '2007-11-22',
 '2007-12-25',
 '2008-01-01',
 '2008-01-21',
 '2008-02-18',
 '2008-05-26',
 '2008-07-04',
 '2008-09-01',
 '2008-10-13',
 '2008-11-11',
 '2008-11-27',
 '2008-12-25',
 '2009-01-01',
 '2009-01-19',
 '2009-02-16',
 '2009-05-25',
 '2009-07-03',
 '2009-09-07',
 '2009-10-12',
 '2009-11-11',
 '2009-11-26',
 '2009-12-25',
 '2010-01-01',
 '2010-01-18',
 '2010-02-15',
 '2010-05-31',
 '2010-07-05',
 '2010-09-06',
 '2010-10-11',
 '2010-11-11',
 '2010-11-25',
 '2010-12-24',
 '2010-12-31',
 '2011-01-17',
 '2011-02-21',
 '2011-05-30',
 '2011-07-04',
 '2011-09-05',
 '2011-10-10',
 '2011-11-11',
 '2011-11-24',
 '2011-12-26',
 '2012-01-02',
 '2012-01-16',
 '2012-02-20',
 '2012-05-28',
 '2012-07-04',
 '2012-09-03',
 '2012-10-08',
 '2012-11-12',
 '2012-11-22',
 '2012-12-25',
 '2013-01-01',
 '2013-01-21',
 '2013-02-18',
 '2013-05-27',
 '2013-07-04',
 '2013-09-02',
 '2013-10-14',
 '2013-11-11',
 '2013-11-28',
 '2013-12-25',
 '2014-01-01',
 '2014-01-20',
 '2014-02-17',
 '2014-05-26',
 '2014-07-04',
 '2014-09-01',
 '2014-10-13',
 '2014-11-11',
 '2014-11-27',
 '2014-12-25',
 '2015-01-01',
 '2015-01-19',
 '2015-02-16',
 '2015-05-25',
 '2015-07-03',
 '2015-09-07',
 '2015-10-12',
 '2015-11-11',
 '2015-11-26',
 '2015-12-25',
 '2016-01-01',
 '2016-01-18',
 '2016-02-15',
 '2016-05-30',
 '2016-07-04',
 '2016-09-05',
 '2016-10-10',
 '2016-11-11',
 '2016-11-24',
 '2016-12-26',
 '2017-01-02',
 '2017-01-16',
 '2017-02-20',
 '2017-05-29',
 '2017-07-04',
 '2017-09-04',
 '2017-10-09',
 '2017-11-10',
 '2017-11-23',
 '2017-12-25',
 '2018-01-01',
 '2018-01-15',
 '2018-02-19',
 '2018-05-28',
 '2018-07-04',
 '2018-09-03',
 '2018-10-08',
 '2018-11-12',
 '2018-11-22',
 '2018-12-25',
 '2019-01-01',
 '2019-01-21',
 '2019-02-18',
 '2019-05-27',
 '2019-07-04',
 '2019-09-02',
 '2019-10-14',
 '2019-11-11',
 '2019-11-28',
 '2019-12-25',
 '2020-01-01',
 '2020-01-20',
 '2020-02-17',
 '2020-05-25',
 '2020-07-03',
 '2020-09-07',
 '2020-10-12',
 '2020-11-11',
 '2020-11-26',
 '2020-12-25',
 '2021-01-01',
 '2021-01-18',
 '2021-02-15',
 '2021-05-31',
 '2021-06-18',
 '2021-07-05',
 '2021-09-06',
 '2021-10-11',
 '2021-11-11',
 '2021-11-25',
 '2021-12-24',
 '2021-12-31',
 '2022-01-17',
 '2022-02-21',
 '2022-05-30',
 '2022-06-20',
 '2022-07-04',
 '2022-09-05',
 '2022-10-10',
 '2022-11-11',
 '2022-11-24',
 '2022-12-26',
 '2023-01-02',
 '2023-01-16',
 '2023-02-20',
 '2023-05-29',
 '2023-06-19',
 '2023-07-04',
 '2023-09-04',
 '2023-10-09',
 '2023-11-10',
 '2023-11-23',
 '2023-12-25',
 '2024-01-01',
 '2024-01-15',
 '2024-02-19',
 '2024-05-27',
 '2024-06-19',
 '2024-07-04',
 '2024-09-02',
 '2024-10-14',
 '2024-11-11',
 '2024-11-28',
 '2024-12-25',
 '2025-01-01',
 '2025-01-20',
 '2025-02-17',
 '2025-05-26',
 '2025-06-19',
 '2025-07-04',
 '2025-09-01',
 '2025-10-13',
 '2025-11-11',
 '2025-11-27',
 '2025-12-25',
 '2026-01-01',
 '2026-01-19',
 '2026-02-16',
 '2026-05-25',
 '2026-06-19',
 '2026-07-03',
 '2026-09-07',
 '2026-10-12',
 '2026-11-11',
 '2026-11-26',
 '2026-12-25',
 '2027-01-01',
 '2027-01-18',
 '2027-02-15',
 '2027-05-31',
 '2027-06-18',
 '2027-07-05',
 '2027-09-06',
 '2027-10-11',
 '2027-11-11',
 '2027-11-25',
 '2027-12-24',
 '2027-12-31',
 '2028-01-17',
 '2028-02-21',
 '2028-05-29',
 '2028-06-19',
 '2028-07-04',
 '2028-09-04',
 '2028-10-09',
 '2028-11-10',
 '2028-11-23',
 '2028-12-25',
 '2029-01-01',
 '2029-01-15',
 '2029-02-19',
 '2029-05-28',
 '2029-06-19',
 '2029-07-04',
 '2029-09-03',
 '2029-10-08',
 '2029-11-12',
 '2029-11-22',
 '2029-12-25',
 '2030-01-01',
 '2030-01-21',
 '2030-02-18',
 '2030-05-27',
 '2030-06-19',
 '2030-07-04',
 '2030-09-02',
 '2030-10-14',
 '2030-11-11',
 '2030-11-28',
 '2030-12-25',
 '2031-01-01',
 '2031-01-20',
 '2031-02-17',
 '2031-05-26',
 '2031-06-19',
 '2031-07-04',
 '2031-09-01',
 '2031-10-13',
 '2031-11-11',
 '2031-11-27',
 '2031-12-25',
 '2032-01-01',
 '2032-01-19',
 '2032-02-16',
 '2032-05-31',
 '2032-06-18',
 '2032-07-05',
 '2032-09-06',
 '2032-10-11',
 '2032-11-11',
 '2032-11-25',
 '2032-12-24',
 '2032-12-31',
 '2033-01-17',
 '2033-02-21',
 '2033-05-30',
 '2033-06-20',
 '2033-07-04',
 '2033-09-05',
 '2033-10-10',
 '2033-11-11',
 '2033-11-24',
 '2033-12-26',
 '2034-01-02',
 '2034-01-16',
 '2034-02-20',
 '2034-05-29',
 '2034-06-19',
 '2034-07-04',
 '2034-09-04',
 '2034-10-09',
 '2034-11-10',
 '2034-11-23',
 '2034-12-25',
 '2035-01-01',
 '2035-01-15',
 '2035-02-19',
 '2035-05-28',
 '2035-06-19',
 '2035-07-04',
 '2035-09-03',
 '2035-10-08',
 '2035-11-12',
 '2035-11-22',
 '2035-12-25',
 '2036-01-01',
 '2036-01-21',
 '2036-02-18',
 '2036-05-26',
 '2036-06-19',
 '2036-07-04',
 '2036-09-01',
 '2036-10-13',
 '2036-11-11',
 '2036-11-27',
 '2036-12-25',
 '2037-01-01',
 '2037-01-19',
 '2037-02-16',
 '2037-05-25',
 '2037-06-19',
 '2037-07-03',
 '2037-09-07',
 '2037-10-12',
 '2037-11-11',
 '2037-11-26',
 '2037-12-25',
 '2038-01-01',
 '2038-01-18',
 '2038-02-15',
 '2038-05-31',
 '2038-06-18',
 '2038-07-05',
 '2038-09-06',
 '2038-10-11',
 '2038-11-11',
 '2038-11-25',
 '2038-12-24',
 '2038-12-31',
 '2039-01-17',
 '2039-02-21',
 '2039-05-30',
 '2039-06-20',
 '2039-07-04',
 '2039-09-05',
 '2039-10-10',
 '2039-11-11',
 '2039-11-24',
 '2039-12-26',
 '2040-01-02',
 '2040-01-16',
 '2040-02-20',
 '2040-05-28',
 '2040-06-19',
 '2040-07-04',
 '2040-09-03',
 '2040-10-08',
 '2040-11-12',
 '2040-11-22',
 '2040-12-25',
 '2041-01-01',
 '2041-01-21',
 '2041-02-18',
 '2041-05-27',
 '2041-06-19',
 '2041-07-04',
 '2041-09-02',
 '2041-10-14',
 '2041-11-11',
 '2041-11-28',
 '2041-12-25',
 '2042-01-01',
 '2042-01-20',
 '2042-02-17',
 '2042-05-26',
 '2042-06-19',
 '2042-07-04',
 '2042-09-01',
 '2042-10-13',
 '2042-11-11',
 '2042-11-27',
 '2042-12-25',
 '2043-01-01',
 '2043-01-19',
 '2043-02-16',
 '2043-05-25',
 '2043-06-19',
 '2043-07-03',
 '2043-09-07',
 '2043-10-12',
 '2043-11-11',
 '2043-11-26',
 '2043-12-25',
 '2044-01-01',
 '2044-01-18',
 '2044-02-15',
 '2044-05-30',
 '2044-06-20',
 '2044-07-04',
 '2044-09-05',
 '2044-10-10',
 '2044-11-11',
 '2044-11-24',
 '2044-12-26',
 '2045-01-02',
 '2045-01-16',
 '2045-02-20',
 '2045-05-29',
 '2045-06-19',
 '2045-07-04',
 '2045-09-04',
 '2045-10-09',
 '2045-11-10',
 '2045-11-23',
 '2045-12-25',
 '2046-01-01',
 '2046-01-15',
 '2046-02-19',
 '2046-05-28',
 '2046-06-19',
 '2046-07-04',
 '2046-09-03',
 '2046-10-08',
 '2046-11-12',
 '2046-11-22',
 '2046-12-25',
 '2047-01-01',
 '2047-01-21',
 '2047-02-18',
 '2047-05-27',
 '2047-06-19',
 '2047-07-04',
 '2047-09-02',
 '2047-10-14',
 '2047-11-11',
 '2047-11-28',
 '2047-12-25',
 '2048-01-01',
 '2048-01-20',
 '2048-02-17',
 '2048-05-25',
 '2048-06-19',
 '2048-07-03',
 '2048-09-07',
 '2048-10-12',
 '2048-11-11',
 '2048-11-26',
 '2048-12-25',
 '2049-01-01',
 '2049-01-18',
 '2049-02-15',
 '2049-05-31',
 '2049-06-18',
 '2049-07-05',
 '2049-09-06',
 '2049-10-11',
 '2049-11-11',
 '2049-11-25',
 '2049-12-24',
 '2049-12-31',
 '2050-01-17',
 '2050-02-21',
 '2050-05-30',
 '2050-06-20',
 '2050-07-04',
 '2050-09-05',
 '2050-10-10',
 '2050-11-11',
 '2050-11-24',
 '2050-12-26',
 '2051-01-02',
 '2051-01-16',
 '2051-02-20',
 '2051-05-29',
 '2051-06-19',
 '2051-07-04',
 '2051-09-04',
 '2051-10-09',
 '2051-11-10',
 '2051-11-23',
 '2051-12-25',
 '2052-01-01',
 '2052-01-15',
 '2052-02-19',
 '2052-05-27',
 '2052-06-19',
 '2052-07-04',
 '2052-09-02',
 '2052-10-14',
 '2052-11-11',
 '2052-11-28',
 '2052-12-25',
 '2053-01-01',
 '2053-01-20',
 '2053-02-17',
 '2053-05-26',
 '2053-06-19',
 '2053-07-04',
 '2053-09-01',
 '2053-10-13',
 '2053-11-11',
 '2053-11-27',
 '2053-12-25',
 '2054-01-01',
 '2054-01-19',
 '2054-02-16',
 '2054-05-25',
 '2054-06-19',
 '2054-07-03',
 '2054-09-07',
 '2054-10-12',
 '2054-11-11',
 '2054-11-26',
 '2054-12-25',
 '2055-01-01',
 '2055-01-18',
 '2055-02-15',
 '2055-05-31',
 '2055-06-18',
 '2055-07-05',
 '2055-09-06',
 '2055-10-11',
 '2055-11-11',
 '2055-11-25',
 '2055-12-24',
 '2055-12-31',
 '2056-01-17',
 '2056-02-21',
 '2056-05-29',
 '2056-06-19',
 '2056-07-04',
 '2056-09-04',
 '2056-10-09',
 '2056-11-10',
 '2056-11-23',
 '2056-12-25',
 '2057-01-01',
 '2057-01-15',
 '2057-02-19',
 '2057-05-28',
 '2057-06-19',
 '2057-07-04',
 '2057-09-03',
 '2057-10-08',
 '2057-11-12',
 '2057-11-22',
 '2057-12-25',
 '2058-01-01',
 '2058-01-21',
 '2058-02-18',
 '2058-05-27',
 '2058-06-19',
 '2058-07-04',
 '2058-09-02',
 '2058-10-14',
 '2058-11-11',
 '2058-11-28',
 '2058-12-25',
 '2059-01-01',
 '2059-01-20',
 '2059-02-17',
 '2059-05-26',
 '2059-06-19',
 '2059-07-04',
 '2059-09-01',
 '2059-10-13',
 '2059-11-11',
 '2059-11-27',
 '2059-12-25',
 '2060-01-01',
 '2060-01-19',
 '2060-02-16',
 '2060-05-31',
 '2060-06-18',
 '2060-07-05',
 '2060-09-06',
 '2060-10-11',
 '2060-11-11',
 '2060-11-25',
 '2060-12-24',
 '2060-12-31',
 '2061-01-17',
 '2061-02-21',
 '2061-05-30',
 '2061-06-20',
 '2061-07-04',
 '2061-09-05',
 '2061-10-10',
 '2061-11-11',
 '2061-11-24',
 '2061-12-26',
 '2062-01-02',
 '2062-01-16',
 '2062-02-20',
 '2062-05-29',
 '2062-06-19',
 '2062-07-04',
 '2062-09-04',
 '2062-10-09',
 '2062-11-10',
 '2062-11-23',
 '2062-12-25',
 '2063-01-01',
 '2063-01-15',
 '2063-02-19',
 '2063-05-28',
 '2063-06-19',
 '2063-07-04',
 '2063-09-03',
 '2063-10-08',
 '2063-11-12',
 '2063-11-22',
 '2063-12-25',
 '2064-01-01',
 '2064-01-21',
 '2064-02-18',
 '2064-05-26',
 '2064-06-19',
 '2064-07-04',
 '2064-09-01',
 '2064-10-13',
 '2064-11-11',
 '2064-11-27',
 '2064-12-25',
 '2065-01-01',
 '2065-01-19',
 '2065-02-16',
 '2065-05-25',
 '2065-06-19',
 '2065-07-03',
 '2065-09-07',
 '2065-10-12',
 '2065-11-11',
 '2065-11-26',
 '2065-12-25',
 '2066-01-01',
 '2066-01-18',
 '2066-02-15',
 '2066-05-31',
 '2066-06-18',
 '2066-07-05',
 '2066-09-06',
 '2066-10-11',
 '2066-11-11',
 '2066-11-25',
 '2066-12-24',
 ...]

In [111]:
with open('tmp/bmo_lisst.txt', 'r') as file: # берем с файла список тикеров с отчетами bmo
    print(file.read().split(','))

FileNotFoundError: [Errno 2] No such file or directory: 'tmp/bmo_lisst.txt'